@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Mulish", sans-serif;
    }
  }

.overflow-wrap {
    overflow-wrap: break-word;
}

.chat-header-bg{
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 95.87%, 1.00% 96.18%, 2.00% 96.48%, 3.00% 96.78%, 4.00% 97.07%, 5.00% 97.35%, 6.00% 97.62%, 7.00% 97.88%, 8.00% 98.13%, 9.00% 98.37%, 10.00% 98.60%, 11.00% 98.81%, 12.00% 99.00%, 13.00% 99.18%, 14.00% 99.35%, 15.00% 99.49%, 16.00% 99.62%, 17.00% 99.73%, 18.00% 99.83%, 19.00% 99.90%, 20.00% 99.95%, 21.00% 99.99%, 22.00% 100.00%, 23.00% 99.99%, 24.00% 99.97%, 25.00% 99.92%, 26.00% 99.86%, 27.00% 99.78%, 28.00% 99.67%, 29.00% 99.55%, 30.00% 99.41%, 31.00% 99.26%, 32.00% 99.09%, 33.00% 98.90%, 34.00% 98.69%, 35.00% 98.47%, 36.00% 98.24%, 37.00% 98.00%, 38.00% 97.74%, 39.00% 97.47%, 40.00% 97.19%, 41.00% 96.91%, 42.00% 96.61%, 43.00% 96.31%, 44.00% 96.01%, 45.00% 95.70%, 46.00% 95.38%, 47.00% 95.07%, 48.00% 94.76%, 49.00% 94.44%, 50.00% 94.13%, 51.00% 93.82%, 52.00% 93.52%, 53.00% 93.22%, 54.00% 92.93%, 55.00% 92.65%, 56.00% 92.38%, 57.00% 92.12%, 58.00% 91.87%, 59.00% 91.63%, 60.00% 91.40%, 61.00% 91.19%, 62.00% 91.00%, 63.00% 90.82%, 64.00% 90.65%, 65.00% 90.51%, 66.00% 90.38%, 67.00% 90.27%, 68.00% 90.17%, 69.00% 90.10%, 70.00% 90.05%, 71.00% 90.01%, 72.00% 90.00%, 73.00% 90.01%, 74.00% 90.03%, 75.00% 90.08%, 76.00% 90.14%, 77.00% 90.22%, 78.00% 90.33%, 79.00% 90.45%, 80.00% 90.59%, 81.00% 90.74%, 82.00% 90.91%, 83.00% 91.10%, 84.00% 91.31%, 85.00% 91.53%, 86.00% 91.76%, 87.00% 92.00%, 88.00% 92.26%, 89.00% 92.53%, 90.00% 92.81%, 91.00% 93.09%, 92.00% 93.39%, 93.00% 93.69%, 94.00% 93.99%, 95.00% 94.30%, 96.00% 94.62%, 97.00% 94.93%, 98.00% 95.24%, 99.00% 95.56%, 100.00% 95.87%);}